@import 'theme';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
    $font-family: 'Arial, Helvetica, sans-serif',
    $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);

$runejs-website-warn: mat-palette($mat-red);


$runejs-website-primary: mat-palette($brown-palette);
$runejs-website-accent: mat-palette($green-palette);

$runejs-website-theme: mat-dark-theme((
    color: (
        primary: $runejs-website-primary,
        accent: $runejs-website-accent,
        warn: $runejs-website-warn,
    )
));

$runejs-website-scroll-primary: mat-palette($brown-palette);
$runejs-website-scroll-accent: mat-palette($green-palette);

$runejs-website-scroll-theme: mat-light-theme((
    color: (
        primary: $runejs-website-scroll-primary,
        accent: $runejs-website-scroll-accent,
        warn: $runejs-website-warn,
    )
));


@include angular-material-theme($runejs-website-theme);

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: black url('assets/rsbg.png') repeat;
}

.rs-scroll {
    @include angular-material-theme($runejs-website-scroll-theme);

    width: 765px;
    margin: 16px auto;
    min-height: 100px;
    background: transparent url('assets/scroll/backdrop_745.gif') repeat-y center top;
    color: black;
    position: relative;
    padding: 48px 32px;
    box-sizing: border-box;

    a {
        font-weight: 700;
        color: $scroll-brown;
        text-decoration: none;
    }

    strong {
        font-weight: 700;
    }

    p {
        margin: 0;

        ~ p {
            margin-top: 16px;
        }
    }

    &::before, &::after {
        content: ' ';
        display: block;
        width: 765px;
        height: 50px;
        background: transparent no-repeat center center;
        position: absolute;
        left: 0;
    }
    &::before {
        background-image: url('assets/scroll/backdrop_765_top.gif');
        top: -16px;
    }
    &::after {
        background-image: url('assets/scroll/backdrop_765_bottom.gif');
        bottom: -16px;
    }
}
