<div class="rs-home">
    <img class="rs-runejs-logo" src="assets/runejs.png" alt="RuneJS" />

    <section class="rs-scroll rs-home-scroll">
        <p><strong>RuneJS</strong> is a RuneScape game server emulator written in ES6 and TypeScript. The goal of the project is to create a
            flexible game server that is easy to interface with, while also providing powerful content development systems.
            The simple content APIs allow for junior developers to pull down the codebase and get up and running writing
            new features in less time, and learning more along the way.</p>

        <p>The game server is based around the <code>435</code> revision of the game, which was a game update made in October of 2006.
            There are not any plans to convert it to other versions at this time.</p>

        <p>RuneJS is completely open-source and open to all pull requests and/or issues. Many plugins have been added by
            contributor pull requests and we're always happy to have more. Check out our
            <a href="https://discord.gg/5P74nSh">Discord</a> server if you'd like to help us out, or provide input
            on new features!</p>
    </section>
</div>
