.rs-home {
    img.rs-runejs-logo {
        display: block;
        margin: 42px auto 64px;
        max-width: 100%;
    }

    .rs-home-scroll {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}
